<% provide(:title, "About") %>
<h1><%= yield(:title) %></h1>
<p>
  This is a very simple microblog app designed to serve as an introduction to Ruby/Rails. 
  The initial concept and walkthrough are derived from <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> with modifications for expanding the concept.
</p>